.cls-content-page {
     padding: 10px 35px;

   /*  table {
        width: 100%;
    } */
}

table {
    width: 90%;
    margin:1rem auto;
    
 }
.mat-cell{
    color:black;

}
.mat-header-cell{
    color:black;
    font-size: 15px;

}
 

