


<!-- <input type="text" #myidElem />
<button (click)="getId(myidElem.value)">Get Value</button>






<div class="cls-form" [formGroup]= "formvehis"  >
  <div class="cls-field">
    <label for="">Nombre:</label>
    <input type="text" formControlName="Placa" />
  </div>

  <div class="cls-field">
    <label for="">Teléfono:</label>
    <input
      type="text"
      formControlName="Marca"
    />
  </div>

  <div class="cls-field">
    <label for="">Tipo:</label>
    <input type="text" formControlName="Tipo" />
  </div>

  <div class="cls-field">
    <label for="">Modelo:</label>
    <input type="text" formControlName="Modelo" />
  </div>
  <div class="cls-field">
      <label for="">Cilindraje:</label>
      <input type="numbre" formControlName="Cilindraje" />
  </div>
  <div class="cls-field">
      <label for="">propietarioId:</label>
      <input type="text" formControlName="propietarioId" />
    </div>
  

</div>


 -->



<br>
<div class="listaacciones">
    <a style="margin: 10px" routerLink="/administracion/create-vehiculo" class="btn">Crear Nuevo</a>
    <a routerLink="/inicio" class="btn">Volver</a>
</div>

<div class="cls-content-page">
    <div>
      <table mat-table [dataSource]="dataSource" class="table responsive highlight">
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="Placa">
          <th mat-header-cell *matHeaderCellDef>Placa</th>
          <td mat-cell *matCellDef="let element">{{ element.Placa }}</td>
        </ng-container>
        <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
          <td mat-cell *matCellDef="let element">{{ element.Marca }}</td>
        </ng-container>
  
        <!-- Name Column -->
  
        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">{{ element.Tipo }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Modelo">
          <th mat-header-cell *matHeaderCellDef>Modelo</th>
          <td mat-cell *matCellDef="let element">{{ element.Modelo }}</td>
        </ng-container>
  
  
        <ng-container matColumnDef="Cilindraje">
          <th mat-header-cell *matHeaderCellDef>Cilindraje</th>
          <td mat-cell *matCellDef="let element">{{ element.Cilindraje }}</td>
        </ng-container>

        <ng-container matColumnDef="propietarioId">
          <th mat-header-cell *matHeaderCellDef>propietarioId</th>
          <td mat-cell *matCellDef="let element">{{ element.propietarioId }}</td>
        </ng-container>
  
        <!-- Symbol Column -->
  
        <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColums"></tr>
      </table>
    </div>
  </div>
  <br>
  <br>