
<br>
<div class="listaacciones">
    <a style="margin: 10px" routerLink="/administracion/create-propietario" class="btn">Crear Nuevo</a>
    <a routerLink="/inicio" class="btn">Volver</a>
</div>

<br><br>
<table class="table responsive highlight">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
 
            <th>
                Correo
            </th>


        </tr>
       
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.Nombre}}
            </td>
            <td>
                {{p.Apellidos}}
            </td>

            <td>
                {{p.Correo}}
            </td>
            <td>
                <a routerLink="/administracion/update-propietario/{{p.id}}" class="btn">Editar</a>
            </td>

        </tr>
    </tbody>


</table>
